/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require home_page
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import 'home_page.css';

/* Universal navbar styling */
.navbar {
    width: 100%;
    height: 8%;

    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
}

.container-fluid {
    width: 100%;
    height: 100%;
}

.navbar-header {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#company-name {
    width: 15%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;

    font-size: 2.5vw;
    color: whitesmoke;
}

#search-container {
    position: absolute;
    width: 45%;
    height: 8vh;
    left: 45vw;
    transform: translateX(-50%);
}

#search-box {
    position: relative;
    width: 100%;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 20px;
    background-color: whitesmoke;
}

#search-icon {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);

    height: 90%;

    float: left;
    border-radius: 20px;
    margin-left: 3%;
}

#search-query {
    position: relative;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);

    width: 85%;
    background-color: transparent;
    border: 0;
    float: left;

    color: black;
    font-size: 2.5vh;
}

.drop-down-container {
    width: 10%;
    height: 100%;

    float: right;
    opacity: 1;
    transition: 0.2s;
}

.drop-down-container:hover {
    opacity: 0.7;
    transition: 0.2s;
}

/* End navbar styling */




.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#checkbox {
	margin: 0px 0px 20px;
    width: 30px;
}
#button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#button:hover,#button:active,#button:focus {
  background: #3b444b;
}
#solebutton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  margin-top: 20px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-decoration: none
}
#solebutton:hover,#solebutton:active,#solebutton:focus {
  background: #3b444b;
}
#logbutton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 120px;
  border: 0;
  margin-top: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#logbutton:hover,#logbutton:active,#logbutton:focus {
  background: #3b444b;
}
#message {
  margin: 15px 0 0;
  color: #232b2b;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
span {
  color: #4d4d4d;
  font-size: 24px;
  padding-top: 10px;
}
a {
  text-decoration: none
}
span a {
  color: #000000;
  text-decoration: none;
}
span .fa {
  color: #EF3B3A;
}
body {
    /*
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
    */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
    max-width: 100%;
    max-height: 100%;
}